<%- include('partials/header.ejs')%>
<body>
    <%- include('partials/navbar.ejs')%>

    <div class="container">
        <h1> Exibir a pergunta aqui</h1>
        <h1>Exibir a Descrição da pergunta aqui</h1>
        <hr>

        <form action="">
            <h3>Responda</h3>
            <label >Resposta:</label> <br>
            <textarea name="corpo"  class="form-control"></textarea><br>
            <button class="btn btn-primary">Responder</button>
        </form>
        <hr>
        <h1>Respostas</h1>

        Respostas serão exibidas aqui embaixo
    </div>
  
</body>
<%- include('partials/footer.ejs')%>